.workspace-wrapper {
  height: calc(100% - 62px);
}

.profile-card-area {
  height: calc(100% - 104px);

  .button-box {
    margin-top: 24px;
    justify-content: center !important;

    > button {
      width: 216px;
    }
  }
}

.range-container {
  position: relative;
  width: 100%;

  &.disabled {
    .range-area,
    .print-value {
      opacity: 0.4;
    }
  }

  .input-left {
    width: 100%;
  }

  .multi-range-slider {
    position: relative;
    flex: 1;
    margin-bottom: 11px;

    > input {
      &[type='range'] {
        opacity: 0;
        position: absolute;
        bottom: 0;
        height: 0.4rem;

        &.input-left {
          left: 0;
        }

        &.input-right {
          right: 0;
        }
      }
    }
  }

  .double-label {
    @include flex(row, space-between, flex-start);

    .hide {
      display: none;
    }
  }

  .field-label {
    display: block;
    margin-bottom: 16px;
    @include font(14px, 500, #727272, 20px);

    &.color-pointer {
      color: var(--primary);
    }
  }

  .slider-range-swCustomUI {
    position: relative;

    .track-range-swCustomUI {
      width: 100%;
      height: 6px;
      border-radius: 3px;
      background-color: var(--gray_100);
    }

    .range-swCustomUI {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 6px;
      border-radius: 3px;
      background-color: var(--primary);
    }

    .thumb-range-swCustomUI {
      position: absolute;
      top: 50%;
      width: 18px;
      height: 18px;
      background: var(--white);
      border: 2px solid var(--primary);
      border-radius: 50%;
      transform: translateY(-50%);
      touch-action: none;

      &:hover {
        cursor: pointer;
      }

      &.thumb-left {
        left: 0;
      }

      &.thumb-right {
        right: 0;
      }
    }
  }

  .slider-default-value {
    @include flex(row, space-between, center);

    .value {
      @include font(12px, 400, var(--gray_2), 20px);

      &.value-start {
        text-align: left;
      }

      &.value-middle {
        text-align: center;
      }

      &.value-20 {
        width: 25%;
        text-align: right;
      }

      &.value-40 {
        width: 25%;
        text-indent: 40px;
      }

      &.value-60 {
        width: 25%;
        text-indent: 10px;
      }

      &.value-80 {
        width: 25%;
        text-indent: -30px;
      }

      &.value-end {
        text-align: right;
      }
    }
  }
}

.badge-container {
  @include flex(row, flex-start, flex-start);
}

.badge-label {
  margin-left: 8px;
  @include font(14px, 500, var(--gray_700), 20px);
}

.badge-box {
  @include flex(row, flex-start, center);

  .badge-text {
    @include flex(row, center, center);
    width: 6.2rem;
    height: 2.2rem;
    border-radius: 0.4rem;
    box-sizing: border-box;
    @include font(1.2rem, 700, var(--white), 2rem);

    &.working,
    &.post {
      background: var(--green_500);
    }

    &.reserved,
    &.accept {
      background: var(--primary);
    }

    &.warning {
      background: var(--yellow_500);
    }

    &.warning-fill {
      background-color: var(--yellow_50);
      color: var(--yellow_500);
    }

    &.finish,
    &.planed,
    &.cancel {
      background: var(--gray_3);
    }

    // 종료(검정색) //
    &.finished {
      background-color: var(--gray_1);
    }

    &.normal {
      background-color: var(--green_50);
      color: var(--green_400);
    }

    &.approaching {
      background-color: var(--gray_85);
      color: var(--gray_3);
    }

    &.over {
      background-color: var(--red_soft_50);
      color: var(--red_500);
    }

    &.over_fill {
      background-color: var(--red_500);
      color: var(--white);
    }
  }
}

/* ---------------------------------- // Badge ---------------------------------- */

.amount-wrap {
  display: flex;

  &.usage {
    .divide {
      margin: 0 4px;
    }
  }

  .use {
    font-size: 14px;
    color: var(--gray_1);
    font-weight: 500;

    &.close {
      color: var(--red_500);
    }
  }

  .total {
    font-size: 14px;
    color: var(--gray_3);
    font-weight: 500;
  }
}

.amount-wrap {
  &.project {
    .data-value {
      max-width: 64px;
      @include ellipsis;
    }
  }

  .data-value {
    font-size: 14px;
    color: var(--gray_1);
    font-weight: 500;
  }

  .data-over {
    margin: 0 3px;
    padding-left: 4px;
    padding-left: 2px;
  }

  .data-length {
    font-size: 14px;
    color: var(--gray_2);
    font-weight: 500;
  }
}

.work-space {
  &.table {
    table-layout: fixed;

    td {
      position: relative;
    }

    .info-box {
      .tooltip {
        border-radius: 49px;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 10px 4px;
        border-radius: 10px;
        white-space: wrap;

        .tooltip-box {
          max-height: 125px;
          padding: 0 16px 0 12px;
          overflow-y: auto;
          white-space: nowrap;

          &::-webkit-scrollbar {
            width: 3px;
            /*스크롤바의 너비*/
            height: 3px;
          }

          .text {
            line-height: 180%;
          }
        }
      }

      .amount-tooltip {
        left: -20px;
        max-width: none;
        white-space: nowrap;
        border-radius: 49px;
        padding: 4px 13px;

        .tooltip-box {
          padding: 0;
        }
      }

      .ip-tooltip {
        flex-direction: column;
        flex-wrap: wrap;
        padding: 10px 4px;
        border-radius: 10px;
        white-space: wrap;

        .tooltip-box {
          max-height: 75px;
        }
      }

      .member-tooltip {
        top: -10px;
        left: calc(100% + 10px);

        &:before {
          bottom: auto;
          left: -13px;
          transform: rotate(-85deg);
        }

        .tooltip {
          max-height: 125px;
          padding: 0 10px;
          overflow-y: auto;
          white-space: nowrap;
        }
      }

      .project-tooltip {
        left: auto;

        &:before {
          bottom: calc(100% - 0.1rem);
          right: 1.8rem;
          left: auto;
        }

        .tooltip-box {
          max-height: 75px;
        }
      }
    }
  }
}

.workspace-top-area {
  @include flex(row, space-between, center);
  margin-bottom: 3.4rem;

  .workspace-title-box {
    @include flex(row, flex-start, center);

    .btn-back {
      width: 2.4rem;
      height: 2.4rem;
      margin-right: 0.6rem;
      background: url('/styles/images/icon/ic_arrow_prev.svg') no-repeat center;
    }

    h2.title {
      margin-bottom: 0;
      margin-right: 1rem;
      @include font(1.8rem, 700, var(--gray_1), 180%);
    }
  }

  .load-asset-container {
    @include flex(row, flex-end, center);

    .tooltip-box {
      width: 27rem;
    }

    .button-box {
      margin-top: 0;
      margin-left: 0.6rem;

      .btn {
        width: auto;
      }
    }
  }

  .project-progress-box {
    .progress-rate {
      margin-right: 2rem;
    }
  }

  .top-right-box {
    @include flex(row, flex-end, center);
    gap: 6px;
  }
}

.project-progress-box {
  @include flex(row, flex-start, center);
  // width: 40rem;

  .field-label {
    flex: 0 0 auto;
    margin-right: 1rem;
    @include font(1.4rem, 600, var(--gray_1), 2rem);
    white-space: nowrap;
  }

  .progress-bar-box {
    width: 14rem;
    margin-top: 0;
    margin-right: 1rem;
  }

  .progress-rate {
    @include font(1.4rem, 500, var(--gray_2), 2rem);
  }

  .button-box {
    margin-top: 0 !important;

    .btn-detail {
      gap: 0.6rem;
      width: 13rem !important;

      &:before {
        content: '';
        display: block;
        width: 2rem;
        height: 2rem;
        background: url('/styles/images/icon/ic_graph.svg') no-repeat center;
      }
    }
  }
}

.workspace-container {
  width: 100%;
  // padding: 4rem 3.6rem 0 3.6rem;

  h3.title {
    width: 100%;
    margin-bottom: 2.4rem;
    @include font(1.8rem, 600, var(--gray_1), 180%);
  }

  .workspace-info-box {
    width: 100%;
    margin-bottom: 6rem;

    .workspace-info-bottom-box {
      padding: 2.4rem 0;
      border-top: 0.1rem solid var(--gray_3);
    }

    .edit-workspace-box {
      @include flex(row, flex-start, center);
      gap: 1rem;

      .workspace-name {
        @include font(1.6rem, 500, var(--gray_1), 3rem);
      }

      .btn-edit {
        width: 9rem;
      }
    }

    .workers-info {
      @include flex(row, flex-start, center);
      gap: 4rem;

      .worker-box {
        flex: 1 1 33.3%;

        .row {
          @include flex(row, flex-start, center);
          gap: 2rem;
          width: 100%;
          // margin-top: 2.4rem;
          padding-bottom: 1rem;
          border-bottom: 0.1rem solid var(--border);

          .label {
            min-width: 8.2rem;
            @include font(1.6rem, 500, var(--gray_2), 180%);
          }

          .name {
            @include font(1.6rem, 500, var(--gray_1), 180%);
          }

          &:not(:last-child) {
            margin-bottom: 2.4rem;
          }
        }
      }
    }
  }

  .tab-container {
    .tab-panel {
      &.info {
        padding: 4rem 3.6rem;
        border-radius: 0.8rem;
        background-color: var(--white);
        box-shadow: var(--shadow);
      }
    }
  }
}

.permit-container {
  display: flex;
  gap: 3.2rem;

  .ip-box {
    // width: 76.3rem;
    flex: 1 1 calc(50% - 1.6rem);
    padding: 2.4rem 3.6rem;
    border-radius: 0.8rem;
    background-color: var(--white);
    box-shadow: var(--shadow);

    .box-title-area {
      .count {
        font-size: 18px;
        color: var(--primary);
      }
    }
  }

  .box-content-area {
    .section {
      margin-bottom: 4rem;
    }

    .article-container {
      margin-bottom: 4rem;

      .article-title {
        margin-bottom: 20px;
        color: var(--gray_1);
        font-size: 16px;
        font-weight: 600;
        line-height: 180%; /* 28.8px */
      }

      .field-container {
        margin-bottom: 0;
      }
    }

    .field-container {
      .ip-option {
        margin-bottom: 1.2rem;
      }

      .button-box {
        margin-top: 0;
        margin-bottom: 0;
      }
    }

    .ip-address-field {
      display: flex;
      align-items: center;
      margin-bottom: 1.2rem;

      .ip-write-box {
        position: relative;
        display: flex;
        width: 100%;
        height: 4.8rem;
        padding: 1.2rem 1.6rem;
        border: 1px solid var(--gray_4);
        border-radius: 8px;
        align-items: flex-end;

        & > * {
          height: 2.5rem;
        }

        .divide {
          font-size: 16px;
          display: flex;
          align-items: center;
          margin: 0 20px;
        }

        &.readonly {
          background: var(--gray_5);
        }

        &.permit-ip {
          &:after {
            content: '';
            width: 24px;
            height: 24px;
            display: inline-block;
            margin-left: auto;
            background: url('/styles/images/icon/ic_input_delete.svg') no-repeat 96% 50%;
          }

          .input-box {
            width: 27px;

            input {
              background-color: var(--white);
              color: var(--gray_1);
              padding: 0;
            }
          }
        }

        .ip-box-wrap {
          display: flex;
        }

        .field {
          margin: 0;
          flex: 0;

          .field-form {
            flex: 0;
          }
        }

        .dot {
          display: flex;
          align-items: flex-end;
          margin: 0 0.6rem;
          font-size: 1.8rem;
          font-weight: 600;
          color: var(--gray_3);
        }

        .input-box {
          width: 4.1rem;

          input {
            height: 25px;
            text-align: center;
            border: 0;
            padding: 0 4px;
            font-size: 16px;
            color: var(--gray_3);
            outline: none;
          }
        }
      }

      .wave {
        display: flex;
        align-items: center;
        margin: 0 2.4rem;
        font-size: 16px;
        font-weight: 500;
        color: var(--gray_1);
      }

      .button-box {
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 24px;

        .btn {
          width: 102px;
        }
      }
    }

    .notice-container {
      .list {
        margin-bottom: 10px;
        color: var(--gray_3);
        font-size: 14px;
        font-weight: 400;
        line-height: 150%; /* 21px */

        &:before {
          content: '\00B7';
          font-size: 20px;
          margin-right: 6px;
        }

        &.warning {
          color: var(--red_500);
        }
      }
    }
  }
}

.typing-count {
  display: flex;
  justify-content: flex-end;
  width: 100%;

  .count-wrap {
    display: inline-flex;
    align-items: center;
    padding: 6px 0 0;

    .divide {
      font-size: 12px;
      padding: 0 2px;
      color: var(--gray_3);
    }

    .number {
      font-size: 14px;
      color: var(--gray_3);
    }
  }
}
