@use '../../styles/scss/abstracts/variables' as *;
@use '../../styles/scss/abstracts/mixins' as *;

.panel {
  overflow-y: auto;
  overscroll-behavior: none;

  &::-webkit-scrollbar {
    width: 4px;
  }
  position: fixed;
  top: $header-top;
  right: -50rem;
  bottom: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 48.4rem;
  background-color: var(--white);
  box-shadow: var(--shadow-dark);
  z-index: $filterContainer;
  transition: right cubic-bezier(0, 0.6, 0.4, 1) 0.3s;
}

.show {
  right: 0;
}

.contentArea {
  flex: 1;
  @include flex(column, center, center);
}

.hasContent {
  justify-content: flex-start;
  align-items: stretch;
}

.overlay {
  position: fixed;
  inset: 0;
  z-index: $contextMenuContainer;
}
