.icon {
  display: inline-block;
}

.ic-plus {
  width: 2.4rem;
  height: 2.4rem;
  background: url('/styles/images/icon/ic_plus.svg') no-repeat center;
}

.ic-plus-white {
  width: 2.4rem;
  height: 2.4rem;
  background: url('/styles/images/icon/ic_plus_white.svg') no-repeat center;
}

.ic-upload {
  width: 2.4rem;
  height: 2.4rem;
  background: url('/styles/images/icon/ic_upload.svg') no-repeat center;
}

.ic-blank {
  width: 1.6rem;
  height: 1.6rem;
  background: url('/styles/images/icon/ic_blank.svg') no-repeat center;
}

.ic-info {
  width: 1.4rem;
  height: 1.4rem;
  background: url('/styles/images/icon/ic_info.svg') no-repeat center;
}

.ic-upload-folder {
  width: 2.4rem;
  height: 2.4rem;
  background: url('/styles/images/icon/ic_upload_folder.svg') no-repeat center;
}

.ic-upload-file {
  width: 2.4rem;
  height: 2.4rem;
  background: url('/styles/images/icon/ic_upload_file.svg') no-repeat center;
}


.ic-upload-folder-sm {
  width: 2.4rem;
  height: 2.4rem;
  background: url('/styles/images/icon/ic_upload_folder_sm.svg') no-repeat center;
}

.ic-upload-file-sm {
  width: 2.4rem;
  height: 2.4rem;
  background: url('/styles/images/icon/ic_upload_file_sm.svg') no-repeat center;
}
