.input-download {
  margin-bottom: 2rem;

  &:last-child {
    margin-bottom: 0;
  }

  .top-title {
    margin-bottom: 0.8rem;
    @include font(1.6rem, 600, var(--gray_1), 180%);
  }

  .input-box {
    @include flex(row, space-between, center);
    height: 4.8rem;
    padding: 0 16px;
    border: 0.1rem solid var(--border);
    border-radius: 0.8rem;
    background-color: white;

    input {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      opacity: 0;
      padding: 0;
      cursor: pointer;
    }
  }

  .icon-download {
    position: absolute;
    right: 1.6rem;
    margin: 0 !important;
    width: 2.4rem;
    height: 2.4rem;
    background: url('/styles/images/icon/ic_folder.svg') no-repeat center / 2.4rem;
  }

  .file-return {
    width: 38rem;
    @include ellipsis();
    @include font(1.6rem, 400, var(--gray_1), 180%);
  }
}
