.field-result-list-box {
  display: none;
  z-index: 10;
  position: absolute;
  top: 4.8rem;
  left: 0;
  right: 0;
  background-color: var(--white);
  border-radius: 0px 0px 8px 8px;
  border: 0.1rem solid var(--border);
  border-top: none;
  background: var(--white);
  box-shadow: var(--shadow);

  &.show {
    display: block;
  }

  ul {
    max-height: 19rem;
    overflow-y: auto;
  }

  li {
    padding: 1.4rem 1.6rem;
    @include font(1.6rem, 500, var(--gray_2), normal);

    &:hover,
    &.selected {
      background-color: var(--hover);
      color: var(--primary);
    }
  }
}
