.lnb-container {
  @include flex(column, flex-start, flex-start);
  position: absolute;
  width: 100%;
  height: calc(100vh - ($header-top + $scroll-size));

  &:has(.lnb-handler) {
    padding-right: 3px;
  }

  .lnb-handler {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: $lnbHandler;
    width: 0.2rem;
    background-color: transparent;

    &:hover {
      background-color: var(--primary);
      cursor: col-resize;
    }
  }

  .lnb-top-area {
    overflow: hidden;
    overflow-y: auto;
    width: 100%;
    // height: calc(100dvh - (22.4rem + $header-top));
    flex: 1;
  }

  .lnb-bottom-area {
    flex: 0;
    width: 100%;
    border-top: 0.1rem solid var(--gray_4-opacity-50);
    padding: 1.8rem 2rem;

    .button-box {
      @include flex(column, flex-start, flex-start);
      gap: 1.2rem;
      width: 100%;

      button {
        @include flex(row, flex-start, flex-start);
        padding: 0.8rem 1.2rem;
        @include font(1.6rem, 600, var(--primary), 2.4rem);
        border-radius: 1rem;

        &:hover,
        &.selected {
          background-color: var(--hover);
        }

        &:before {
          content: '';
          display: block;
          width: 2.4rem;
          height: 2.4rem;
          margin-right: 0.3rem;
        }

        &.btn-share-box {
          &:before {
            background: url('/styles/images/icon/ic_share_lnb.svg') no-repeat center;
          }

          &.selected {
            &:before {
              background: url('/styles/images/icon/ic_share_lnb_sel.svg') no-repeat center;
            }
          }
        }

        &.btn-bookmark {
          &:before {
            background: url('/styles/images/icon/ic_bookmark_lnb.svg') no-repeat center;
          }

          &.selected {
            &:before {
              background: url('/styles/images/icon/ic_bookmark_lnb_sel.svg') no-repeat center;
            }
          }
        }

        &.btn-collection {
          &:before {
            background: url('/styles/images/icon/ic_collection_lnb.svg') no-repeat center;
          }

          &.selected {
            &:before {
              background: url('/styles/images/icon/ic_collection_lnb_sel.svg') no-repeat center;
            }
          }
        }
        &.btn-recovery {
          color: var(--gray_3);

          &:hover, &.selected {
            background-color: var(--gray_3-opacity-10);
          }
          &:before {
            background: url('/styles/images/icon/ic_delete.svg') no-repeat center;
          }

          &.selected {
            &:before {
              background: url('/styles/images/icon/ic_delete.svg') no-repeat center;
            }
          }
        }
      }

      .divider {
        width: 0.1rem;
        height: 1.6rem;
        background-color: var(--gray_1);
        opacity: 0.1;
      }
    }
  }

  .icon {
    display: block;
    width: 2.4rem;
    height: 2.4rem;
    margin-right: 1rem;

    &.icon-home {
      background: url('/styles/images/icon/ic_home.svg') no-repeat center / contain;
    }
  }

  .work-index-container {
    width: 100%;

    .work-index-area {
      @include flex(row, space-between, center);
      padding: 1.8rem 2rem;
      background-color: var(--white);

      .title {
        @include flex(row, flex-start, center);
        @include font(1.6rem, 700, var(--black), normal);
      }

      .button-box {
        @include flex(row, flex-end, center);
        gap: 0.6rem;

        button {
          display: block;
          width: 2.4rem;
          height: 2.4rem;

          &.btn-refresh {
            background: url('/styles/images/icon/ic_renew_small.svg') no-repeat center;
          }

          &.btn-create {
            background: url('/styles/images/icon/ic_plus.svg') no-repeat center;
          }

          &.btn-move-last-location {
            background: url('/styles/images/icon/ic_move_last_location.svg') no-repeat center;
          }

          &.btn-setting {
            background: url('/styles/images/icon/ic_setting.svg') no-repeat center;
          }

          &:disabled {
            opacity: .3;
            pointer-events: none;
          }
        }
      }
    }
  }

  .lnb {
    width: 100%;
    position: relative;

    &.move {
      .menu-list {
        &.depth-1 {
          > .menu {
            &.has-child {
              > .btn-menu {
                padding-left: 3.2rem;
                background: url('/styles/images/icon/ic_drag.svg') no-repeat 0.8rem center;
              }

              > .menu-list {
                padding-left: 5rem;
              }
            }
          }
        }
      }
    }

    .menu-list {
      overflow: hidden;
      position: relative;
      height: 0;
      padding-left: 2rem;
      transition: height 0.25s;

      &.expand {
        position: static;
        height: auto;
      }

      &.depth-1 {
        padding-left: 0;

        > .menu {
          &.has-child {
            > .btn-menu {
              padding-left: 1.2rem;
            }
          }

          > .btn-menu {
            padding-left: 4.8rem;
            font-weight: 600;
          }

          > .menu-list {
            padding-left: 3rem;
          }
        }
      }

      .menu {
        &:not(.has-child) {
          > .btn-menu {
            padding-left: 2.6rem;
          }
        }

        &.has-child {
          > .btn-menu {
            .text-box {
              // @include flex(row, flex-start, center);

              &:before {
                content: '';
                display: block;
                width: 2rem;
                height: 2rem;
                min-width: 2rem;
                margin-right: 0.6rem;
                border-radius: 50%;
                rotate: -90deg;
                background: url('/styles/images/icon/ic_lnb_arrow_down.svg') no-repeat center / 100% auto;
              }
            }

            &.active {
              .text-box {
                &:before {
                  background: url('/styles/images/icon/ic_lnb_arrow_down_active.svg') no-repeat center / 100% auto;
                }
              }
            }

            &.show {
              .text-box {
                @include flex(row, flex-start, center);

                &:before {
                  transform: rotate(90deg);
                }
              }
            }
          }
        }

        &.team {
          > .btn-menu {
            font-size: 1.6rem;
            font-weight: 800;

            &:hover,
            &.active {
              font-weight: 800;
            }
          }
        }

        .btn-menu {
          @include flex(row, space-between, center);
          width: 100%;
          height: 5.2rem;
          padding: 1.2rem 1.6rem;
          padding-left: 0;
          background-color: var(--white);
          @include font(1.4rem, 500, var(--gray_1), 2.4rem);
          text-align: left;

          &:hover,
          &.active {
            //font-weight: 600;
            color: var(--primary);

            &:before {
              content: '';
              position: absolute;
              left: 0;
              width: 0.2rem;
              height: 5.2rem;
              background-color: var(--primary);
            }

            &:after {
              content: '';
              position: absolute;
              left: 0;
              width: 100%;
              height: 5.2rem;
              background-color: var(--hover);
            }
          }

          .text-box {
            @include flex(row, flex-start, center);
            flex: 1;
            min-width: 0;
          }

          .text {
            display: block;
            // flex: 1 1 100%;
            @include ellipsis();
          }
        }
      }
    }
  }
}
