.portal-lnb-container {
  padding-top: 4rem;

  .portal-lnb-top-area {
    .portal-profile-box {
      @include flex(column, center, center);

      .profile-box {
        position: relative;
        text-align: center;

        .profile-assets {
          @include flex(row, center, center);
          width: 9rem;
          height: 9rem;

          span {
            @include font(5.4rem, 600, var(--white), normal);
          }
        }
      }

      .profile-name {
        margin-top: 0.8rem;
        @include font(1.8rem, 700, var(--black), 180%);
      }

      .profile-desc {
        margin-top: 0.8rem;
        @include flex(row, flex-start, center);

        span {
          @include font(1.4rem, 500, var(--gray_3), 180%);

          & + span {
            &::before {
              content: '';
              margin: 0 0.4rem;
              display: inline-block;
              vertical-align: middle;
              width: 0.3rem;
              height: 0.3rem;
              background-color: var(--gray_3);
            }
          }
        }
      }
    }
  }

  .profile-menu-list {
    margin: 4.8rem 0;

    .menu {
      padding: 1.6rem 2rem;

      a {
        @include font(1.6rem, 500, var(--gray_1), 180%);
      }

      &:hover,
      &.selected {
        background-color: var(--hover);

        a {
          color: var(--primary);
          font-weight: 700;
        }
      }
    }
  }
}
