.loading-box {
  @include flex(row, center, center);
  background-color: var(--gray_5);
  width: 12.1rem;
  height: 6.2rem;
  border-radius: 3.5rem;
  gap: 0.9rem;
}

.loading-item {
  width: 1.8rem;
  height: 1.8rem;
  background-color: var(--primary);
  border-radius: 5rem;
  animation: loading-item 1.5s infinite;
}

.loading-icon .loading-item:nth-child(1) {
  animation-delay: 0s;
}

.loading-icon .loading-item:nth-child(2) {
  animation-delay: 0.1s;
}

.loading-icon .loading-item:nth-child(3) {
  animation-delay: 0.2s;
}

@keyframes loading-item {
  0%, 25% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-7px);
    opacity: 0.5;
  }
  80%, 100% {
    transform: translateY(0);
  }
}