.content-bottom-area {
  &.workspace-new {
    @include flex(row, center, center);
    height: 65vh;
  }
}

.new-workspace-container {
  width: 26.4rem;
  margin: calc(60vh - 40rem) auto;
  flex: 1; // EmptyWorkspace 푸터 적용시 푸터가 하단에 표시될 수 있도록 flex 설정

  .profile-box {
    position: relative;
    @include flex(column, flex-start, center);
    gap: 1.6rem;
    margin-bottom: 1.6rem;

    .profile-assets {
      width: 20rem;
      height: 20rem;

      span {
        font-size: 14rem;
        // line-height: 21rem;
      }
    }

    .name {
      @include font(2.8rem, 700, var(--gray_1), normal);
    }

    img {
      position: absolute;
      top: 0;
      left: 50%;
      margin-left: -10rem;
    }
  }

  .role-box {
    @include flex(row, center, center);
    text-align: center;
  }

  .content-box {
    @include font(1.8rem, 500, var(--gray_2), 3.2rem);
    margin: 2rem 0;
    text-align: center;

    strong {
      @include font(1.8rem, 600, var(--gray_1), 3.2rem);
    }
  }

  .button-box {
    .btn-primary {
      width: 20rem;
      margin: auto;

      &:hover:not(:disabled) {
        background-color: var(--blue_550);
        color: var(--white);
      }
    }
  }
}

.empty-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  justify-content: center;

  .guide-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 26.4rem;

    .upload-image {
      width: 200px;
      height: 200px;
      background: url('/styles/images/icon/ic_upload_200x200.svg');
    }

    .guideline {
      @include font(1.8rem, 500, var(--gray_2), 3.2rem);
      margin: 2rem 0;
      text-align: center;

      strong {
        @include font(1.8rem, 600, var(--gray_1), 3.2rem);
      }
    }
  }

  .button-box {
    display: flex;
    justify-content: space-between;
    width: inherit;

    .btn-primary {
      width: 20rem;
      margin: auto;

      &:hover:not(:disabled) {
        background-color: var(--blue_550);
        color: var(--white);
      }
    }
  }
}
