$editor-top: 6.7rem;
.edit-image-container {
  display: block;

  main {
    padding: 0;
  }

  .main-top-container {
    @include flex(row, space-between, center);
    position: fixed;
    top: $header-top;
    left: 0;
    z-index: 2;
    width: 100%;
    padding: 1.4rem 3rem;
    border-bottom: 0.1rem solid var(--line);
    background-color: var(--white);

    .title {
      margin-bottom: 0;
      @include font(1.8rem, 700, var(--gray_1), 180%);
    }

    .button-box {
      @include flex(row, flex-end, center);

      button {
        display: block;
        min-width: 10rem;
      }
    }
  }

  .main-bottom-container {
    overflow: hidden;
    width: 100%;
    position: relative;
    height: calc(100dvh - $header-top);
    padding-top: $editor-top;
  }

  .content-left-area {
    position: fixed;
    top: calc($header-top + $editor-top);
    left: 0;
    bottom: 0;
    width: 16rem;
    background-color: var(--white);

    .image-count {
      width: 100%;
      padding: 2rem 3rem 1.2rem 3rem;
      @include font(1.4rem, 400, var(--gray_1), 180%);

      .count {
        @include font(1.4rem, 700, var(--primary), 180%);
        vertical-align: baseline;
      }
    }

    .image-list-box {
      overflow-y: auto;
      overscroll-behavior: none;
      position: absolute;
      top: 5.7rem;
      left: 0;
      bottom: 0;
      width: 100%;
      padding: 0 3rem 2rem 3rem;

      .image-list {
        @include flex(column, flex-start, center);
        gap: 1rem;
        width: 100%;

        .image-box {
          position: relative;
          width: 9.9rem;
          height: 9.9rem;
          overflow: hidden;

          img {
            display: block;
            width: 100%;
            height: auto;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }

          &.active {
            border: 0.3rem solid var(--primary);
          }
        }
      }
    }
  }

  // .content-left-area

  .content-center-area {
    position: relative;
    width: calc(100% - 23.4rem);
    height: calc(100dvh - ($header-top + $editor-top));
    margin-left: 16rem;
    margin-right: 7.4rem;
    transition: width 0.3s;

    &.slide {
      width: calc(100% - 48.4rem);
    }

    .edit-area {
      position: relative;
      top: 50%;
      left: 50%;
      width: 88%;
      max-width: 120rem;
      height: 72rem;
      transform: translate(-50%, -50%);
      background-color: var(--gray_4);
    }

    .control-viewer-box {
      @include flex(row, flex-start, center);
      gap: 1.2rem;
      position: absolute;
      left: 3rem;
      bottom: 3rem;

      .button-box {
        @include flex(row, flex-start, center);
        border-radius: 0.8rem;
        border: 0.1rem solid var(--gray_4);
        background-color: var(--white);

        > button {
          height: 3.8rem;
          margin: 0;
          padding: 0.7rem 1.1rem;
          border-radius: 0;
          // border-top: 0.1rem solid var(--line);
          // border-bottom: 0.1rem solid var(--line);
          background-color: var(--white);

          &:hover:not(:disabled) {
            background-color: var(--hover);
          }

          &:disabled {
            opacity: 0.3;
            cursor: default;
          }

          &.btn-undo {
            padding: 0.7rem 1.6rem 0.7rem 1.6rem;

            &:before {
              content: '';
              display: block;
              width: 2.4rem;
              height: 2.4rem;
              background: url('/styles/images/icon/ic_reverse-left.svg') no-repeat center;
            }
          }

          &.btn-redo {
            padding: 0.7rem 1.6rem 0.7rem 0.6rem;

            &:before {
              content: '';
              display: block;
              width: 2.4rem;
              height: 2.4rem;
              background: url('/styles/images/icon/ic_reverse-right.svg') no-repeat center;
            }
          }

          &.btn-zoom-out {
            // padding: 0.7rem 1.6rem 0.7rem 0.6rem;

            &:before {
              content: '';
              display: block;
              width: 2.4rem;
              height: 2.4rem;
              background: url('/styles/images/icon/ic_minus.svg') no-repeat center;
            }
          }

          &.btn-zoom-in {
            // padding: 0.7rem 1.6rem 0.7rem 0.6rem;

            &:before {
              content: '';
              display: block;
              width: 2.4rem;
              height: 2.4rem;
              background: url('/styles/images/icon/ic_plus.svg') no-repeat center;
            }
          }

          &.btn-original-size {
            // padding: 0.7rem 1.6rem 0.7rem 0.6rem;

            &:before {
              content: '';
              display: block;
              width: 2.4rem;
              height: 2.4rem;
              background: url('/styles/images/icon/ic_maximize.svg') no-repeat center;
            }
          }

          &.btn-fit {
            // padding: 0.7rem 1.6rem 0.7rem 0.6rem;

            &:before {
              content: '';
              display: block;
              width: 2.4rem;
              height: 2.4rem;
              background: url('/styles/images/icon/ic_minimize.svg') no-repeat center;
            }
          }

          &:first-child {
            // border-left: 0.1rem solid var(--line);
            border-radius: 0.8rem 0 0 0.8rem;
          }

          &:last-child {
            // border-right: 0.1rem solid var(--line);
            border-radius: 0 0.8rem 0.8rem 0;
          }
        }

        // button

        .zoom-rate {
          .field-dropdown {
            &.medium {
              .dropdown-container {
                .dropdown-area {
                  height: 3.8rem;
                }

                .btn-dropdown {
                  height: 3.8rem;
                  padding: 0.7rem 0.6rem;
                  border-radius: 0;
                  border: none;
                  // border-top: 0.1rem solid var(--line);
                  // border-bottom: 0.1rem solid var(--line);
                  background: none;
                  @include font(1.4rem, 500, var(--gray_1), 180%);
                }

                .context-menu {
                  width: 6.4rem;
                  left: 50%;
                  max-height: 21rem;
                  margin-left: -3.2rem;
                  border-radius: 0.4rem;
                  border: none;

                  .option {
                    button {
                      height: 3rem;
                      padding: 0.4rem 1.6rem;
                      @include font(1.2rem, 500, var(--gray_1), 180%);
                    }
                  }
                }
              }
            }
          }
        }

        // .zoom-rate

        .divider {
          width: 0.1rem;
          height: 1.4rem;
          background-color: var(--gray_4);
        }
      }

      // .button-box
    }
  }

  // .content-center-area

  .content-right-area {
    overflow-y: auto;
    position: fixed;
    top: calc($header-top + $editor-top);
    right: 0;
    bottom: 0;
    z-index: 3;
    width: 7.4rem;
    padding: 2rem 0.6rem;
    background-color: var(--white);
    box-shadow: var(--shadow);

    .tool-list-box {
      .btn-tool {
        @include flex(column, center, center);
        gap: 0.4rem;
        width: 100%;
        padding: 1rem 1.2rem;
        border-radius: 0.8rem;
        @include font(1.4rem, 500, var(--gray_1), 180%);
        text-align: center;

        &:hover {
          background-color: var(--hover);
          color: var(--primary);
        }

        &:before {
          content: '';
          display: block;
          width: 2.4rem;
          height: 2.4rem;
        }

        &.btn-crop {
          &:before {
            background: url('/styles/images/icon/ic_crop.svg') no-repeat center;
          }
        }

        &.btn-filter {
          &:before {
            background: url('/styles/images/icon/ic_colors.svg') no-repeat center;
          }
        }

        &.btn-resolution {
          &:before {
            background: url('/styles/images/icon/ic_resolution.svg') no-repeat center;
          }
        }

        &.btn-format {
          &:before {
            background: url('/styles/images/icon/ic_edit_large.svg') no-repeat center;
          }
        }

        &:hover,
        &.active {
          background-color: var(--hover);
          color: var(--primary);

          &.btn-crop {
            &:before {
              background: url('/styles/images/icon/ic_crop_hover.svg') no-repeat center;
            }
          }

          &.btn-filter {
            &:before {
              background: url('/styles/images/icon/ic_colors_hover.svg') no-repeat center;
            }
          }

          &.btn-resolution {
            &:before {
              background: url('/styles/images/icon/ic_resolution_hover.svg') no-repeat center;
            }
          }

          &.btn-format {
            &:before {
              background: url('/styles/images/icon/ic_edit_large_hover.svg') no-repeat center;
            }
          }
        }
      }
    }
  }

  .tool-option-container {
    overflow-y: auto;
    overscroll-behavior: none;
    position: fixed;
    top: calc($header-top + $editor-top);
    bottom: 0;
    right: -17.6rem;
    z-index: 2;
    width: 100%;
    max-width: 25rem;
    padding: 0 2rem;
    background-color: var(--white);
    box-shadow: var(--shadow);
    transition: right cubic-bezier(0, 0.6, 0.4, 1) 0.3s;

    &.show {
      right: 7.4rem;
    }

    .tool-option {
      width: 100%;
      padding: 2rem 0;
      border-bottom: 0.1rem solid var(--gray_4);

      &:last-of-type {
        border-bottom: none;
      }

      .title {
        @include font(1.6rem, 600, var(--gray_1), 180%);
        margin-bottom: 1.6rem;
      }

      .field-container {
        margin-top: 0.8rem;
        margin-bottom: 0;

        .divider {
          width: 0.1rem;
          height: 1.4rem;
          background-color: var(--gray_4);
        }

        .field {
          margin-bottom: 0;
        }
      }

      &.pageHeader {
        @include flex(row, space-between, center);

        .title {
          margin-bottom: 0;
        }
      }

      // --------------- 자르기 상세 옵션 --------------- //

      &.size {
        .field-area {
          @include flex(row, flex-start, center);
          gap: 2rem;

          & + .field-area {
            margin-top: 1.6rem;
          }

          .field {
            gap: 0.6rem;

            label {
              flex: 0 0 1.6rem;
              margin-right: 0;
              @include font(1.6rem, 600, var(--gray_3), normal);
            }

            .input-box {
              input[type='text'] {
                padding: 0.3rem 1rem;
                text-align: right;

                &:read-only {
                  background-color: transparent;
                  @include font(1.6rem, 400, var(--gray_1), 180%);
                }
              }

              .input-button-box {
                display: none;
              }
            }
          }
        }
      }

      // &.size {

      &.ratio {
        .button-box {
          @include flex(row, flex-start, center);
          gap: 1.4rem;
          flex-wrap: wrap;

          .btn-ratio {
            @include flex(column, flex-start, center);
            width: 4.2rem;
            height: 7.7rem;
            padding: 0.8rem 0.3rem;
            @include font(1.4rem, 400, var(--gray_1), 180%);

            .rectangle {
              @include flex(column, center, center);
              width: 3.6rem;
              height: 3.6rem;

              &:before {
                content: '';
                display: block;
                border: 0.1rem solid var(--gray_1);
              }
            }

            &.selected,
            &:hover {
              color: var(--primary);

              .rectangle {
                &:before {
                  border-color: var(--primary);
                }
              }
            }

            &.original {
              .rectangle {
                &:before {
                  width: 2.8rem;
                  height: 2rem;
                }
              }
            }

            &.free {
              .rectangle {
                &:before {
                  width: 2.8rem;
                  height: 2rem;
                }
              }
            }

            &.ratio_16_9 {
              .rectangle {
                &:before {
                  width: 2.8rem;
                  height: 1.3rem;
                }
              }
            }

            &.ratio_3_2 {
              .rectangle {
                &:before {
                  width: 2.8rem;
                  height: 1.6rem;
                }
              }
            }

            &.ratio_4_3 {
              .rectangle {
                &:before {
                  width: 2.6rem;
                  height: 1.8rem;
                }
              }
            }

            &.ratio_1_1 {
              .rectangle {
                &:before {
                  width: 2.2rem;
                  height: 2.2rem;
                }
              }
            }

            &.ratio_3_4 {
              .rectangle {
                &:before {
                  width: 1.8rem;
                  height: 2.6rem;
                }
              }
            }

            &.ratio_2_3 {
              .rectangle {
                &:before {
                  width: 2.8rem;
                  height: 1.6rem;
                }
              }
            }

            &.ratio_9_16 {
              .rectangle {
                &:before {
                  width: 2.8rem;
                  height: 1.3rem;
                }
              }
            }
          }
        }
      }

      // &.ratio

      // --------------- 필터 상세 옵션 --------------- //

      &.filter {
        .button-box {
          @include flex(row, flex-start, center);
          gap: 0.9em;
          flex-wrap: wrap;

          .btn-filter {
            @include flex(column, flex-start, center);
            gap: 0.4rem;
            width: 6.4rem;
            // height: 7.7rem;
            @include font(1.4rem, 400, var(--gray_1), 180%);
            text-align: center;

            &.selected,
            &:hover {
              color: var(--primary);

              &:before {
                box-shadow: 0px 0px 0px 2px var(--primary);
              }
            }

            &.original {
              &:before {
                content: '';
                display: block;
                width: 6.4rem;
                height: 6.4rem;
                border-radius: 0.4rem;
                background-color: var(--gray_4);
              }
            }
          }
        }
      }

      &.resolution,
      &.format {
        .button-box {
          @include flex(row, flex-start, center);
          gap: 0.9em;
          flex-wrap: wrap;

          .btn-resolution,
          .btn-format {
            @include flex(column, flex-start, center);
            gap: 0.4rem;
            width: 6.4rem;
            padding: 0.6rem 0;
            border-radius: 0.4rem;
            border: 0.1rem solid var(--gray_5);
            background-color: var(--gray_5);
            @include font(1.4rem, 400, var(--gray_1), 180%);
            text-align: center;

            &.selected,
            &:hover {
              background-color: var(--hover);
              color: var(--primary);
              border-color: var(--primary);
            }
          }
        }
      }
    }

    // .tool-option

    > .button-box {
      @include flex(row, center, center);
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 2rem 2rem 4rem 2rem;

      .btn {
        width: 50%;
      }
    }
  }

  .progress-bar-handler-box {
    position: absolute;
    bottom: 3.4rem;
    left: 50%;
    margin-left: -22.5rem;
    width: 45rem;

    .ratio-bar-box {
      position: relative;

      input {
        -webkit-appearance: none;
        appearance: none;
        cursor: pointer;
        outline: none;
        width: 100%;
        height: 0.8rem;
        margin: 0;
        border-radius: 1rem;
        background: rgba(136, 138, 145, 1);
        border-radius: 1rem;

        &::-webkit-slider-thumb {
          -webkit-appearance: none;
          width: 18px;
          height: 18px;
          background: var(--white);
          border: 0.1px solid var(--white);
          border-radius: 100%;
          cursor: pointer;
        }
      }
    }
  }
}
