$ab-content-top: calc(2.2rem + 122px);
$ab-list-top: 85px;
$ab-filter: calc(35px + 2.4rem);
$ab_card_height: 18rem;
$ab_card_width: 18rem;

.list-container {
  display: flex;
  flex-direction: column;
  height: 100%;

  &:only-child {
    height: 100%;
  }

  .list-top-area {
    @include flex(row, space-between, flex-start);
    width: 100%;
    margin: 2.4rem 0;

    .content-tab-box {
      flex: 1;
      margin: 0;
    }

    &.border-bottom {
      align-items: center;
      padding-bottom: 2.4rem;
      border-bottom: 0.1rem solid var(--border);

      .list-info-box {
        .list-count {
          @include flex(row, flex-start, center);
          font-size: 1.8rem;
          font-weight: 600;
        }
      }

      .search-bar-box {
        width: 37.6rem;
      }
    }
  }

  .pagination {
    padding: 10px 0;
    margin: 0;
  }
}

// Tools 영역
.list-info-box {
  @include flex(row, flex-start, center);
  gap: 0.8rem;

  // 체크박스
  .field-input-checkbox {
    &.minus {
      input {
        &:checked {
          + label {
            &:before {
              background: url('/styles/images/icon/ic_checkbox_minus.svg') no-repeat center;
            }
          }
        }
      }
    }

    input {
      display: block;
      position: absolute;
      width: 0;
      height: 0;
      opacity: 0;

      &:checked {
        + label {
          &:before {
            background: url('/styles/images/icon/ic_check_checked.svg') no-repeat center;
          }
        }
      }

      &:disabled {
        + label {
          color: var(--gray_200);

          &:before {
            background: url('/styles/images/icon/ic_checked_disabled.svg') no-repeat center;
          }

          // &:after {
          //   background-color: var(--gray_1)00;
          // }
        }

        &:checked {
          + label {
            &:after {
              background: url('/styles/images/icon/ic_checked_disabled.svg') no-repeat center;
            }

            &:before {
              background: url('/styles/images/icon/ic_disabled_checked.svg') no-repeat center;
            }
          }
        }
      }
    }

    &.file {
      input {
        &:checked {
          + label {
            &:before {
              background: url('/styles/images/icon/ic_checked_disabled.svg') no-repeat center !important;
            }
          }
        }
      }
    }

    label {
      // @include flex(row, flex-start, center);
      // flex: 1 1 auto;
      position: relative;
      margin-right: 0;
      cursor: pointer;
      @include ellipsis();

      &:before {
        content: '';
        float: left;
        display: block;
        flex-shrink: 0;
        width: 2rem;
        height: 2rem;
        margin-right: 0.6rem;
        background: url('/styles/images/icon/ic_checkbox.svg') no-repeat center;
        box-sizing: border-box;
      }
    }

    .strong-red {
      color: var(--red_500);
      vertical-align: baseline;
    }
  }

  // 구분선
  .divider {
    width: 0.1rem;
    height: 1.6rem;
    background-color: var(--gray_1);
    opacity: 0.1;
    margin-left: 10px;
  }

  // 버튼
  .btn {
    margin: 0;
    padding: 0.4rem 1.4rem;
    border: 0.1rem solid var(--border);
    height: 3.5rem;
    width: auto;
    border-radius: 0.4rem;
    background-color: var(--white);
    @include font(1.4rem, 500, var(--gray_2));

    &.active,
    &:hover {
      &:not(:disabled) {
        border: 0.1rem solid var(--primary);
        background: var(--hover);
        color: var(--primary);
      }

      .icon {
        color: var(--primary);
      }
    }

    &:disabled {
      border: 0.1rem solid var(--border);
    }
  }

  .list-count {
    display: inline-flex;
    @include font(1.4rem, 700, var(--gray_1), 2.52rem);

    &:not(:last-child) {
      &::after {
        content: '';
        margin-left: 0.8rem;
        display: inline-block;
        vertical-align: middle;
        width: 0.1rem;
        height: 1.4rem;
        background-color: var(--gray_4);
      }
    }

    .num {
      margin: 0 0.4rem;
      font-weight: 700;
      color: var(--primary);
    }
  }
}

.list-button-box {
  position: relative;

  @include flex(row, flex-end, center);
  gap: 0.8rem;

  .btn-sort-box {
    position: relative;
  }

  button {
    display: block;
    width: 2.4rem;
    height: 2.4rem;

    &.btn-select-all {
      width: auto;
      margin-right: 0;
      padding: 0.3rem 1.6rem;
    }

    &.btn-filter {
      background: url('/styles/images/icon/ic_filter.svg') no-repeat center;
    }

    &.btn-sort {
      background: url('/styles/images/icon/ic_sort.svg') no-repeat center;

      &:hover {
        background: url('/styles/images/icon/ic_sort_sel.svg') no-repeat center;
      }
    }

    &.btn-type {
      &.grid {
        background: url('/styles/images/icon/ic_grid.svg') no-repeat center;

        &:hover,
        &.active {
          background: url('/styles/images/icon/ic_grid_sel.svg') no-repeat center;
        }
      }

      &.list {
        background: url('/styles/images/icon/ic_Listview.svg') no-repeat center;

        &:hover,
        &.active {
          background: url('/styles/images/icon/ic_Listview_sel.svg') no-repeat center;
        }
      }
    }

    &:disabled {
      border-color: rgba(221, 223, 228, 0.5);
      color: var(--gray_3);
      background-color: rgba(221, 223, 228, 0.5);
    }
  }

  .divider {
    width: 0.1rem;
    height: 1.6rem;
    background-color: var(--gray_1);
    opacity: 0.1;
  }
}

.list-bottom-area-container {
  height: calc(100vh - $header-top - $ab-content-top - $ab-list-top);
  width: calc(100% + $main-padding + $main-padding); // 스크롤 여백 사용
  margin-left: -$main-padding;
  overflow: auto;
}

.list-bottom-area {
  height: 100%;
  filter: none;
  transform: none;
  perspective: none;
  display: flex;
  flex-direction: column;

  // 카드뷰
  .grid {
    flex: 1;
    @include flex(row, flex-start, flex-start);
    align-content: flex-start;
    flex-wrap: wrap;
    gap: 1.6rem;
    padding: 0 $main-padding;
    margin-bottom: 1rem;
  }

  // 리스트뷰
  .table {
    table {
      border: 0;
      border-radius: 0;
    }

    flex: 1;
    padding: 0 $main-padding;
    margin-bottom: 1rem;
    height: calc(100% - 142px);

    .state-box {
      position: static;
      display: inline-block;
    }

    .member-box {
      margin: 1.4rem 0;
    }

    .title {
      display: block;
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      &.folder {

        &:before {
          display: inline-block;
          content: '';
          margin-right: 1.2rem;
          width: 2rem;
          height: 2rem;
          background: url('/styles/images/icon/ic_folder.svg') no-repeat center / 1.6rem;
          vertical-align: middle;
        }
      }

      &.file {
        margin-right: 1.2rem;
        &:before {
          display: inline-block;
          content: '';
          margin-right: 1.2rem;
          width: 2rem;
          height: 2rem;
          background: url('/styles/images/icon/ic_file.svg') no-repeat center / 1.6rem;
          vertical-align: middle;
        }
      }

      .thumbnail {
        margin-right: 1.2rem;
        border-radius: .1rem;
      }
    }
  }

  &.empty {
    @include flex(row, center, center);
    width: 100%;
    min-height: 40rem;
    height: 56vh;

    .no-data-content {
      @include font(1.8rem, 500, var(--gray_2), 180%);

      span {
        font-weight: 600;
        color: var(--gray_1);
        vertical-align: baseline;
      }
    }
  }
}

.list-item {
  position: relative;
  width: $ab_card_width;
  height: $ab_card_height;
  box-shadow: var(--shadow);

  &.folder {
    box-shadow: none;

    &:after {
      content: '';
      position: absolute;
      top: 3px;
      left: 0;
      z-index: -1;
      width: 180px;
      height: 180px;
      background: url('/styles/images/folder_shadow.png') no-repeat center;
      background-size: cover;
    }
  }

  &:hover:not(.selected) {
    &:before {
      content: "";
      position: absolute;
      z-index: 3;
      width: 100%;
      height: 100%;
      filter: brightness(0);
      background: rgba(255, 255, 255, .2);
      border-radius: var(--radius);
    }

    &.folder:before {
      mask: url('/styles/images/list_folder_thumb_mask.svg') no-repeat;
      background: var(--black);
    }

    label {
      &:before {
        background: none;
        border: 2px solid var(--background);
        border-radius: var(--radius-sm);
      }

      &:hover:before {
        box-shadow: var(--shadow-dark);
      }
    }

    .btn-viewer-show {
      visibility: visible !important;
    }
  }

  &.selected,
  &:hover {
    .thumbnail-checkbox-container {
      opacity: 1;
    }
  }

  &.selected {
    .state-box {
      z-index: 4;
    }

    .thumbnail-checkbox-container {
      z-index: $listItem_Selected_thumbnail_checkbox_container;
    }
  }

  &.isCut {
    opacity: .7;
  }

  .thumbnail-checkbox-container {
    z-index: $listItem_thumbnailCheckboxContainer;
    position: absolute;
    top: 1.4rem;
    left: 1.4rem;
    opacity: 0;
  }

  .state-box {
    z-index: $listItem_stateBox;
    position: absolute;
    top: 8.5rem;
    left: 1rem;
  }

  .btn-viewer-show {
    visibility: hidden;
    position: absolute;
    top: 40px;
    left: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    z-index: 3;

    &:before {
      content: '';
      display: block;
      width: 2rem;
      height: 2rem;
      background: url('/styles/images/icon/ic_plus_white.svg') no-repeat center;
      border: 2px solid var(--background);
      border-radius: 10px;
      box-sizing: border-box;
    }

    &:hover:before {
      box-shadow: var(--shadow-dark);
    }
  }

  .thumbnail-box {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 11.4rem;
    border-radius: var(--radius) var(--radius) 0 0;

    &.empty {
      .thumbnail-inner {
        background: var(--line);

        &::before {
          content: 'NO Thumbnail';
          position: absolute;
          top: 50%;
          left: 50%;
          @include font(1.6rem, 400, var(--gray_3), normal);
          margin-left: -5rem;
        }
      }
    }

    .thumbnail-inner {
      position: relative;
      overflow: hidden;
      width: 100%;
      height: 100%;
      background: var(--white);
      border-radius: var(--radius) var(--radius) 0 0;
    }

    .state-box {
      position: absolute;
      bottom: 1.6rem;
      left: 2rem;
    }

    .thumbnail {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      cursor: pointer;
      // opacity: 0;
    }
  }

  &.file {
    border-radius: 1rem;

    &.selected {
      &::after {
        content: '';
        z-index: $listItem_selected_file;
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: calc(100% - 0.2rem);
        height: calc(100% - 0.2rem);
        border: 2px solid var(--primary);
        border-radius: var(--radius);
        pointer-events: none;
        background: var(--hover);
      }
    }
  }

  &.folder {
    position: relative;

    .thumbnail-inner {
      display: block;
      border-radius: 0;

      width: $ab_card_width;
      height: 11.4rem;
      background: url('/styles/images/list_folder_thumb.svg') no-repeat center top;

      &::before {
        display: none;
      }
    }

    .field-container {
      position: relative;
      padding-top: 1rem;
      margin-left: 1rem;
      z-index: $listItem_folder;
    }

    &.selected {
      .thumbnail-inner {
        background-color: transparent;
        background: none;
      }

      &:before {
        content: '';
        position: absolute;
        z-index: $listItem_folder_thumbnail;
        display: block;
        width: $ab_card_width;
        height: $ab_card_height;
        background: url('/styles/images/folder_frame.svg') no-repeat center top;
      }
    }
  }

  .list-info {
    position: relative;
    height: 6.6rem;
    padding: 0.9rem 1.2rem;
    background-color: var(--card-bg);
    border-radius: 0 0 var(--radius) var(--radius);

    /* $$$$$ list top $$$$$$ */
    .list-info-top {
      position: relative;
      @include flex(row, space-between, center);
      margin-bottom: 0.2rem;
    }

    .title {
      position: relative;
      z-index: 3;
      width: fit-content;
      max-width: calc(100% - 60px);
      @include font(1.6rem, 500, var(--gray_1), 2.8rem);

      .filename {
        display: flex;
      }

      .name {
        @include font(1.4rem, 500, var(--gray_1), 2.8rem);
        display: block;
        width: fit-content;
        @include ellipsis();
      }

      .format {
        flex-shrink: 0;
        display: inline-block;
      }

      .tooltip {
        max-width: 26rem;
        white-space: initial;
        word-break: break-all;
      }
    }

    /* $$$$$ list top $$$$$$ */

    /* $$$$$ list bottom $$$$$$ */

    .list-info-bottom {
      @include flex(row, space-between, center);

      .created-date {
        @include font(1.2rem, 500, var(--gray_3), 1.2rem);
      }

      .period {
        position: relative;
        margin-left: auto;
        @include font(1.4rem, 500, var(--gray_3), 2rem);

        .end {
          opacity: 0.5;

          &::after {
            content: '';
            margin: 0 0.4rem;
            display: inline-block;
            width: 0.1rem;
            height: 1rem;
            background-color: rgba(var(--gray_3), 0.5);
          }
        }

        &:hover {
          .tooltip {
            display: block;
            opacity: 1;
          }
        }

        .tooltip-period {
          top: 2.5rem;
          right: 0;

          &::before {
            left: auto !important;
            right: 1.8rem;
          }
        }
      }
    }

    /* $$$$$ list bottom $$$$$$ */
  }

  .list-tool-box {
    button {
      &:hover {
        z-index: 4;

        .tooltip {
          display: block;
          top: calc(100% + 0.4rem);
          left: -6px;
          opacity: 1;
        }
      }
    }
  }
}

.list-tool-box {
  position: relative;
  @include flex(row, flex-end, center);
  gap: 0.2rem;

  button {
    flex: 0 0 2.4rem;
    display: block;
    position: relative;
    z-index: 3;
    width: 2rem;
    height: 2rem;

    &:hover {
      z-index: 4;
    }

    &.btn-bookmark {
      background: url('/styles/images/icon/ic_bookmark.svg') no-repeat center / 2.4rem;

      &:hover {
        border-radius: 50%;
        background: var(--hover) url('/styles/images/icon/ic_bookmark_hover.svg') no-repeat center;
      }

      &.checked {
        background: url('/styles/images/icon/ic_bookmark_checked.svg') no-repeat center;

        &:hover {
          border-radius: 50%;
          background: var(--hover) url('/styles/images/icon/ic_bookmark_hover.svg') no-repeat center;
        }
      }

      &:disabled {
        background: url('/styles/images/icon/ic_bookmark_disabled.svg') no-repeat center;
      }
    }

    &.btn-download {
      background: url('/styles/images/icon/ic_btn_download.svg') no-repeat center / 2.4rem;

      &:hover {
        border-radius: 50%;
        background: url('/styles/images/icon/ic_btn_download_hover.svg') no-repeat center;
      }

      &.checked {
        background: url('/styles/images/icon/ic_btn_download_checked.svg') no-repeat center;

        &:hover {
          border-radius: 50%;
          background: var(--hover) url('/styles/images/icon/ic_btn_download_hover.svg') no-repeat center;
        }
      }

      &:disabled {
        background: url('/styles/images/icon/ic_btn_download_disabled.svg') no-repeat center;
      }
    }


    &.btn-zoomin {
      position: relative;
      background: url('/styles/images/icon/ic_zoom-in.svg') no-repeat center / 2.4rem;

      &:hover {
        &:before {
          position: absolute;
          top: 0;
          left: 0;
          content: '';
          width: 2.4rem;
          height: 2.4rem;
          background: var(--primary);
          border-radius: 50%;
          opacity: .2;
        }
        border-radius: 50%;
        background: url('/styles/images/icon/ic_zoom-in-foc.svg') no-repeat center;
      }
      &:disabled {
        background: url('/styles/images/icon/ic_btn_download_disabled.svg') no-repeat center;
      }
    }

    &.btn-add-collaction {
      background: url('/styles/images/icon/ic_collection.svg') no-repeat center / 2.4rem;

      &:hover {
        border-radius: 50%;
        background: var(--hover) url('/styles/images/icon/ic_collection_hover.svg') no-repeat center;
      }

      &.checked {
        background: url('/styles/images/icon/ic_collection_checked.svg') no-repeat center;

        &:hover {
          border-radius: 50%;
          background: var(--hover) url('/styles/images/icon/ic_collection_hover.svg') no-repeat center;
        }
      }

      &:disabled {
        background: url('/styles/images/icon/ic_collection_disabled.svg') no-repeat center;
      }
    }

    &.btn-delete-collaction {
      background: url('/styles/images/icon/ic_collection_del.svg') no-repeat center / 2.4rem;

      &:hover {
        border-radius: 50%;
        background: var(--hover) url('/styles/images/icon/ic_collection_del_hover.svg') no-repeat center;
      }

      &.checked {
        background: url('/styles/images/icon/ic_collection_del_checked.svg') no-repeat center;

        &:hover {
          border-radius: 50%;
          background: var(--hover) url('/styles/images/icon/ic_collection_del_hover.svg') no-repeat center;
        }
      }

      &:disabled {
        background: url('/styles/images/icon/ic_collection_del_disabled.svg') no-repeat center;
      }
    }

    &.btn-more {
      background: url('/styles/images/icon/ic_more.svg') no-repeat center;

      &:hover {
        border-radius: 50%;
        background: var(--hover) url('/styles/images/icon/ic_more_hover.svg') no-repeat center;
      }

      &.checked {
        border-radius: 50%;
        background: var(--hover) url('/styles/images/icon/ic_more.svg') no-repeat center;

        &:hover {
          border-radius: 50%;
          background: var(--hover) url('/styles/images/icon/ic_more_hover.svg') no-repeat center;
        }
      }
    }
  }
}

.state-box {
  z-index: 4;

  .state {
    min-width: 6.4rem;
    //max-width: 7.2rem;
    padding: 0 1rem;
    border-radius: 1.1rem;
    background-color: var(--gray_85);
    @include font(1.2rem, 600, var(--gray_3), 2.2rem);
    text-align: center;

    &.current,
    &.request {
      background-color: var(--blue_60);
      color: var(--primary);
    }

    &.require {
      background-color: var(--gray_85);
      color: var(--gray_3);
    }

    &.reply {
      background-color: rgba(11, 189, 50, 0.15);
      color: var(--green_500);
    }

    &.complete,
    &.apply {
      background-color: var(--green_50);
      color: var(--green_400);
    }

    &.reject {
      background-color: var(--red_soft_50);
      color: var(--red_soft_500);

      &:hover {
        & + .tooltip-state {
          display: block;
          opacity: 1;
        }
      }
    }
  }
}

.member-box {
  @include flex(row, flex-start, center);
  flex: 0 0 auto;
  position: relative;
  left: -0.2rem;
  height: 2rem;

  .member {
    width: 5rem;

    img {
      display: block;
      width: 2rem;
      height: 2rem;

      &:nth-child(2) {
        position: absolute;
        top: 0;
        left: 1.5rem;
      }

      &:nth-child(3) {
        position: absolute;
        top: 0;
        left: 3rem;
      }
    }
  }

  .more-member {
    margin-left: 0.6rem;
    @include font(1.4rem, 500, var(--gray_3), 2rem);
  }
}
