.popup-link-share {
  .popup-top-text {
    margin-bottom: 2rem;
  }

  .color-text-blue {
    color: var(--primary);
    vertical-align: baseline;
  }

  .field-container {
    margin-bottom: 2rem;

    .field-area {
      max-width: 50rem;

      &:not(:last-child) {
        margin-bottom: 2rem;
      }

      .field-title {
        margin-bottom: 0.8rem;
        @include font(1.6rem, 700, var(--gray_1), 180%);
      }
    }
  }

  .input-wrap {
    display: flex;

    .button-box {
      flex-shrink: 0;
      margin-left: 0.8rem;

      .btn {
        min-width: 8.8rem;
      }
    }

    .field {
      &.check {
        .check-massage {
          display: block;
        }

        input[type='text'] {
          border-color: var(--red_500);
        }
      }

      .check-massage {
        display: none;
        position: absolute;
        left: 0;
        bottom: -28px;
        @include font(1.4rem, 500, var(--red_500), 2.5rem);
      }
    }
  }

  .mail-address-wrap {
    height: 23.6rem;
    padding: 2rem 1.6rem 2rem 2rem;
    margin-top: 2rem;
    border-radius: 0.8rem;
    border: 0.1rem solid var(--border);
    background: var(--white);
    overflow-y: auto;

    .address-list-box {
      .item {
        display: flex;
        align-items: center;

        &:not(:last-child) {
          margin-bottom: 1.2rem;
        }

        .profile-pic {
          flex-shrink: 0;
          width: 2.4rem;
          height: 2.4rem;
          margin-right: 1.2rem;

          .profile-assets {
            width: 2.4rem;
            height: 2.4rem;

            span {
              margin-top: 2%;
              font-size: 1.2rem;
              line-height: 2.4rem;
            }
          }
        }

        .address {
          width: 100%;
          margin-right: 1.2rem;
          @include font(1.6rem, 400, var(--gray_1), 2.8rem);
          @include ellipsis();
        }

        .close {
          flex-shrink: 0;
          width: 2.4rem;
          height: 2.4rem;
          background: url('/styles/images/icon/ic_close_24.svg') no-repeat;
          @include hiddentxt;
        }
      }
    }
  }
}

.switch-item-area {
  .toggle-switch-container.left {
    .toggle-wrap {
      height: 40px;

      .text-insert {
        margin-right: 1rem;
        @include font(1.6rem, 500, var(--gray_1), 2.8rem);
      }
    }

    .label-text {
      margin-right: auto;
    }
  }

  .input-wrap {
    position: relative;
    max-width: 16rem;
    margin-right: 1rem;
  }

  .datepicker-wrap {
    display: flex;
    align-items: center;
  }

  .divider {
    margin: 0 1rem 0 0;
    @include font(1.6rem, 500, var(--gray_1), 2.8rem);
  }
}
