.popup-download {
  .field-container {
    margin-bottom: 4rem;
  }
  .text-normal {
    margin-top: 2rem;
    @include font(1.6rem, 500, var(--gray_1), 28px);
  }
  .underline {
    text-decoration: underline;
    vertical-align: baseline;
  }
}
