//.react-datepicker-wrapper {
//  display: flex;
//  justify-content: space-between;
//  align-items: center;
//  position: relative;
//  width: 100%;
//
//  .react-datepicker__input-container {
//    width: 100%;
//
//    & input[type='text'] {
//      @include font(1.2rem, 400, var(--gray_900), 2.2rem);
//    }
//  }
//}
//
//.react-datepicker {
//  background: var(--white);
//}
//
//.react-datepicker__input-container .react-datepicker__calendar-icon {
//  position: absolute;
//  right: 16px;
//  top: 50%;
//  transform: translateY(-50%);
//  background: none;
//  border: none;
//  padding: 0;
//  margin: 0;
//  cursor: pointer;
//  margin-top: 0 !important;
//}
//
//.date-container .react-datepicker {
//  text-align: center;
//}
//
//.date-container .react-datepicker__navigation.react-datepicker__navigation--next {
//  position: absolute;
//  top: 2rem;
//  width: 2.4rem;
//  height: 2.4rem;
//  border: none;
//  background: url(/styles/images/icon/ic_arrow_right.svg) no-repeat center;
//
//  span {
//    display: none;
//  }
//}
//
//.date-container .react-datepicker__navigation.react-datepicker__navigation--previous {
//  position: absolute;
//  top: 2rem;
//  width: 2.4rem;
//  height: 2.4rem;
//  border: none;
//  background: url(/styles/images/icon/ic_arrow_left.svg) no-repeat center;
//
//  span {
//    display: none;
//  }
//}
//
//.date-container .react-datepicker__aria-live {
//  display: none;
//}
//
//
//.align-datepicker-horizontal {
//  display: flex !important;
//  flex-direction: row !important;
//}
//
//.asset-datepicker {
//  height: 4.8rem;
//  display: flex;
//  justify-items: center;
//  margin-right: 0.6rem;
//}