@mixin pageBg {
  @include flex(row, center, center);
  height: calc(100vh - $header-top - $footer-bottom);
}

@mixin pageTitle {
  @include font(2.4rem, 700, var(--black), 180%);
}

@mixin pageInner {
  border-radius: 0.8rem;
  border: 0.1rem solid var(--border);
  background: var(--white);
}

@mixin pageButton {
  margin: 0 auto;
  width: 21.6rem;
}

.user-info-change-container {
  @include pageBg();

  .field-container {
    margin-bottom: 0;
  }

  .field {
    label {
      @include font(1.6rem, 600, var(--gray_1), 180%);
    }
  }

  .field-password {
    .field-form {
      @include flex(row, space-between, center);
    }

    .btn {
      width: 9rem;
    }
  }

  .user-info-change-area {
    min-width: 68rem;
    max-height: 100%;
    overflow-y: scroll;
    padding: 4rem;
    @include pageInner();
  }

  .user-info-title {
    @include pageTitle();
  }

  .user-info-top {
    margin: 2.8rem 0;
    text-align: center;

    .profile-box {
      position: relative;
      width: 9rem;
      height: 9rem;
      margin: 0 auto;

      .profile-assets {
        @include flex(row, center, center);
        width: 9rem;
        height: 9rem;
        border-radius: 4.5rem;

        span {
          margin-top: 0;
          font-size: 5.4rem;
        }
      }

      .btn-camera {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 2.4rem;
        height: 2.4rem;
        border-radius: 50%;
        border: 0.1rem solid var(--border);
        background: var(--white) url('/styles/images/icon/ic_camera-01.svg') no-repeat center / 1.6rem;
        background-color: var(--white);
      }
    }

    .profile-name {
      margin-top: 0.8rem;
      @include font(1.8rem, 700, var(--black), 180%);
    }
  }

  .user-info-bottom {
    margin-top: 4rem;

    button {
      @include pageButton();
    }
  }
}

.select-service-container {
  @include pageBg();

  .select-service-content {
    width: 86rem;
    padding: 4rem;
    background-color: white;
    border-radius: 0.8rem;

    .title {
      @include pageTitle();
    }

    .desc {
      margin-top: 2rem;
      @include font(1.6rem, 500, var(--gray_1), 180%);
    }

    .service-list {
      margin: 4rem 0;
    }

    .button-box {
      button {
        @include pageButton();
      }
    }
  }
}

.set-domain-category-container {
  @include pageBg();

  .set-domain-category-content {
    width: 68rem;
    padding: 4rem;
    background-color: white;
    border-radius: 0.8rem;

    .title {
      @include pageTitle();
    }

    .desc {
      margin-top: 2rem;
      @include font(1.6rem, 500, var(--gray_1), 180%);
    }

    .service-list {
      margin: 4rem 0;
    }

    .button-box {
      button {
        @include pageButton();
      }
    }
  }

  .domain-list-container {
    overflow-y: auto;
    max-height: 12rem;
    margin-top: 4rem;

    .domain-category {
      margin-bottom: 2rem;
      @include font(1.6rem, 500, var(--gray_1), 180%);

      &:last-child {
        margin-bottom: 0;
      }

      .field-container {
        margin-bottom: 0;
      }
    }
  }

  .button-box {
    &.request-permission {
      width: 100%;
      margin: 4rem 0;

      .btn-request-permission {
        @include flex(row, center, center);
        width: 100%;

        &:before {
          content: '';
          display: block;
          width: 2.4rem;
          height: 2.4rem;
          margin-right: 1rem;
          background: url('/styles/images/icon/ic_plus_primary.svg') no-repeat center;
        }
      }
    }
  }
}

.download-setting-container {
  @include pageBg();

  .download-setting-content {
    min-width: 68rem;
    padding: 4rem;
    @include pageInner();

    .download-setting-field {
      margin: 4rem 0;
    }

    .title {
      @include pageTitle();
    }

    .button-box {
      button {
        @include pageButton();
      }
    }
  }
}

.account-delete-container {
  @include pageBg();

  .field-container {
    margin-bottom: 4rem;

    .field-group.required {
      .group-label {
        margin-bottom: 1.6rem;
      }
    }
  }

  .field {
    margin-bottom: 1.6rem;

    &:last-child {
      margin-bottom: 0;
    }

    &.field-input-checkbox {
      label {
        color: var(--gray_1);
      }
    }
  }

  .account-delete-area {
    @include flex(column, flex-start, center);
    width: 68rem;
    height: 100%;
    padding-top: 4rem;
    @include pageInner();

    .account-delete-top {
      width: 100%;
      padding: 0 4rem;
      margin-bottom: 4rem;
    }

    .title {
      @include pageTitle();
    }

    .desc {
      margin-top: 1.6rem;
      @include font(1.6rem, 500, var(--gray_1), 180%);

      strong {
        font-weight: 700;
        vertical-align: baseline;
      }
    }

    .acocount-delete-lists {
      width: 100%;
      padding: 0 4rem;
      max-height: 58rem;
      overflow-y: auto;
    }

    .account-delete-content {
      padding: 0 4rem;
    }

    .step-box-list {
      @include flex(row, center, flex-start);
      margin-bottom: 4rem;
      gap: 0 3.6rem;

      .step-item {
        position: relative;
        @include flex(column, center, center);
        width: 10rem;

        &:after {
          content: '';
          position: absolute;
          top: 2.4rem;
          left: 7.2rem;
          display: inline-block;
          width: 9.2rem;
          height: 0.1rem;
          background-color: var(--gray_4);
        }

        &:last-child {
          &::after {
            display: none;
          }
        }

        &.active {
          .num {
            background-color: var(--hover);
            border-color: var(--primary);
            color: var(--primary);
          }

          .text {
            color: var(--primary);
          }
        }

        .num {
          @include flex(column, center, center);
          width: 4.4rem;
          height: 4.4rem;
          border: 0.1rem solid var(--border);
          border-radius: 50%;
          @include font(2rem, 500, var(--gray_2), 180%);
        }

        .text {
          margin-top: 0.6rem;
          @include font(1.6rem, 600, var(--gray_2), 180%);
        }
      }
    }

    .acocount-delete-button-box {
      margin: 4rem 0;

      button {
        @include pageButton();
      }
    }
  }
}
